{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/forms.css">
<link rel="stylesheet" type="text/css" href="static/buttons.css">
<div class="forms">
<form class="entry_form" action="/changepasswordapi" method="post">
<label for="old_password">Existing Password</label>
<input type="password" name="old_password" id="old_password" required autofocus>
<label for="new_password">New Password</label>
<input type="password" name="new_password" id="new_password" required>
<label for="new_password_repeat">Repeat New Password</label>
<input type="password" name="new_password_repeat" id="new_password_repeat" required>
<label for="message">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  {{ message }}
  {% endfor %}
  {% endif %}
  {% endwith %}
</label>
<div class="button_frame">
<button class="push_button_big blue" type="submit">Change Password</button>
</div>
</form>
</div>
{% endblock %}
