<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="data:,">
<link rel="stylesheet" type="text/css" href="static/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="pragma" content="no-cache" />
<title>The report-a-tron</title>
<div class="title_page">
<p class="the_header">
Report-a-Tron
</p>
</div>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
