{% extends "logintemplate.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/forms.css">
<link rel="stylesheet" type="text/css" href="static/buttons.css">
<div class="forms">
<form class="entry_form" action="/loginapi" method="post">
<label for="username">Username</label>
<input type="text" name="username" id="username" required autofocus>
<label for="password">Password</label>
<input type="password" name="password" id="password" required>
<div class="button_frame">
<button class="push_button_big blue" type="submit">Login</button>
</div>
</form>
</div>
{% endblock %}
