{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/forms.css">
<link rel="stylesheet" type="text/css" href="static/buttons.css">
<div class="forms">
<form class="entry_form" action="/createapp" method="post">
<label for="asset_name">Asset Name</label>
<input type="text" name="asset_name" id="asset_name" required autofocus>
<label for="asset_type">Asset Type</label>
<input type="text" name="asset_type" id="asset_type" required>
<label for="asset_owner">Asset Owner</label>
<input type="text" name="asset_owner" id="asset_owner" required>
<label for="asset_notes">Asset Notes</label>
<textarea type="text" name="asset_notes" id="asset_notes"></textarea>
<label for="asset_internet_facing">Internet Facing</label>
<input type="number" name="asset_internet_facing" id="asset_internet_facing" required autofocus>
<div class="button_frame">
<button class="push_button_big blue" type="submit">Submit Data</button>
</div>
</form>
</div>
{% endblock %}