{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/forms.css">
<link rel="stylesheet" type="text/css" href="static/buttons.css">
<p class="form_caption">{{ asset_name }}</p>
<div class="forms">
<form class="entry_form" action="/createtest" method="post">
<label for="test_type">Test Type</label>
<input type="text" name="test_type" id="test_type" required autofocus>
<label for="test_exec_summary">Executive Summary</label>
<textarea type="text" name="test_exec_summary" id="test_exec_summary" required></textarea>
<label for="test_base_location">Base Location</label>
<input type="text" name="test_base_location" id="test_base_location" required>
<label for="test_limitations">Test Limitations</label>
<input type="text" name="test_limitations" id="test_limitations" required>
<label for="test_main_contact">Main Contact</label>
<input type="text" name="test_main_contact" id="test_main_contact" required>
<label for="test_date">Test Date</label>
<input type="text" name="test_date" id="test_date">
<label for="test_notes">Test Notes</label>
<textarea type="text" name="test_notes" id="test_notes"></textarea>
{% if asset_id %}<input type="hidden" name="asset_id" id="asset_id" value="{{ asset_id }}">{% else %}<input type="hidden" name="asset_id" id="asset_id" value="">{% endif %}
{% if engagement_id %}<input type="hidden" name="engagement_id" id="engagement_id" value="{{ engagement_id }}">{% else %}<input type="hidden" name="engagement_id" id="engagement_id" value="">{% endif %}
<div class="button_frame">
<button class="push_button_big blue" type="submit">Submit Data</button>
</div>
</form>
</div>
{% endblock %}
