<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="data:,">
<link rel="stylesheet" type="text/css" href="static/main.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<meta http-equiv="cache-control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="pragma" content="no-cache" />
<title>The report-a-tron</title>
<div class="title_page">
  <div class="search-container">
    <form action="/search">
      <input type="text" placeholder="Search.." name="searchTerm">
      <button type="submit"><i>?</i></button>
    </form>
  </div>
<p class="the_header">
Report-a-Tron
</p>
<div class="topnav">
  <a href="/">Home</a>
  <a href="/newapp">New Asset</a>
  <a href="/thedata">Asset Info</a>
  <a href="/viewengagements">Engagement Info</a>
  <a href="/engagements">New Engagement</a>
  <a href="/openengagements">Open Engagements</a>
  <a href="/viewtests">Test Info</a>
  <a href="/viewissues">Issue Info</a>
  <a href="/adhocreport">Report</a>
  <a href="/stats">Get Stats</a>
  <a href="/viewthirdparty">TP Info</a>
  <a href="/createthirdparty">New TP</a>
</div>
</div>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
