{% extends "template.html" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="static/forms.css">
<link rel="stylesheet" type="text/css" href="static/buttons.css">
<p class="form_caption">Engagement Update - ID: {{data['_id']}}</p>
<div class="forms">
<form class="entry_form" action="/updateengagement" method="post">
<label for="engformLocation">Engagement Form Location</label>
<input type="text" name="engformLocation" id="engformLocation" value="{{data['_source']['engagement_stuff']['engagement_form_location']}}">
<label for="mainContact">Main Contact</label>
<input type="text" name="mainContact" id="mainContact" value="{{data['_source']['engagement_stuff']['engagement_main_contact']}}">
<label for="riskRating">Risk Rating</label>
<input type="text" name="riskRating" id="riskRating" value="{{data['_source']['engagement_stuff']['engagement_risk_rating']}}">
<label for="receivedOn">Received On</label>
<input type="text" name="receivedOn" id="receivedOn" value="{{data['_source']['engagement_stuff']['engagement_received_on']}}">
<label for="actionTaken">Action Taken</label>
<textarea type="text" name="actionTaken" id="actionTaken">{{data['_source']['engagement_stuff']['engagement_action_taken']}}</textarea>
<label for="engNotes">Engagement Notes</label>
<textarea type="text" name="engNotes" id="engNotes">{{data['_source']['engagement_stuff']['engagement_notes']}}</textarea>
<label for "engStatus">Engagement Status</label>
<input type="text" name="engStatus" id="engStatus" value="{{data['_source']['engagement_stuff']['engagement_status']}}">
<input type="hidden" name="engId" id="engID" value="{{data['_id']}}">
<div class="button_frame">
<button class="push_button_big blue" type="submit">Update</button>
</div>
</form>
</div>
{% endblock %}